@*
    * ============================================================================================================================
    * THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
    * LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
    * ===========================================================================================================================
*@

<h2>User Registration Form</h2>

<form>
    <partial name="_FormPartial" model="new UserRegistrationModel()" />
</form>
