@*
    * ============================================================================================================================
    * THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
    * LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
    * ===========================================================================================================================
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Recaptcha.Web.Mvc;

<h2>User Registration Form</h2>
<hr />
@using (Html.BeginForm("Index", "Home", System.Web.Mvc.FormMethod.Post))
{
    @Html.Partial("_FormPartial", new RecaptchaMVCSample.Models.UserRegistrationModel())
}
